@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
body
{
    margin:0;
   font-family: 'Madimi One', cursive;
   
}

 
#login_containerr
{
    background-color: #d8bda4;
    margin-top: 8vh;
    height: 82vh;
    margin-left: 20vh;
    width: 60vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 0.1em solid rgb(147, 76, 76);
    border-radius: 0.7em 0 0 0 ;
    box-shadow: 0 0.188em 0.55em  #342313;
    
}
#closebuttonn
{
   position:absolute;
   text-decoration: none;
   margin-top: -400px;
   margin-left: 275px;
   background-color: #e5ded7;
   
}
#text_containerr
{
   background-image: url(../images/img1.avif);
   background-position: center;
    background-repeat: repeat;
     background-size:cover;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 1000;
    margin-top: 8vh;
    height: 82vh;
    margin-left: 83vh;
    width: 115vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    border: 0.1em solid rgb(147, 76, 76);
    border-radius: 0 0 0.7em 0 ;
    box-shadow: 0 0.188em 0.55em  #342313;
}
#text_textr
{
    padding-top: 365px;
    padding-right: 80px;
}
#textmsgr
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding-left: 25px;
    align-items: center; 
}
#login_boxr
{
    display: block;
    width: 300px;
    margin: auto;
    padding-right: 12px;
    
    margin-top: 7%;
   
    
}

#login_titler
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: -9px;
}
#login_msgr
{
    font-size: 16px;
    text-align: center;
}
#login_formr
{
    display: block;
    width: 100%;
    padding: 1px;
    margin:auto;
}
#login_formr input
{
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    outline: none;
    border: 0px solid transparent;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
}

#login_btnr
{
    display: block;
    width: 255px;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    color: rgb(250, 248, 248);
    font-size: 12px;
    font-family: 'nunito',sans-serif;
    border: 2px solid #010306;
    border-radius: 10px;
    background-color:rgb(107, 73, 52);
    cursor: pointer;
}
#login_btnr:hover
{
    background-color: transparent;
    color: #003580;
}
